<div class="container">
    <div class="container-diagram">
        <svg
            width="96.260605mm"
            height="537.83496mm"
            viewBox="0 0 96.260605 537.83496"
            id="control"
            xmlns="http://www.w3.org/2000/svg"
        >
            <defs
                id="defs2"/>
            <g
                id="g3499"
                transform="translate(314.90463,86.13765)">
                <rect
                    style="fill:#2e3349ff;fill-opacity:1;stroke:none;stroke-width:2.48727;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
                    id="rect"
                    width="96.260605"
                    height="537.83496"
                    x="-314.90463"
                    y="-86.13765"
                    ry="0"/>
                <g
                    id="g3474"
                    transform="translate(0,6.8672676)">
                    <g
                        id="zoom-reset"
                        transform="translate(-32.289799,5.0583174)"
                        (click)="zoomReset()"
                    >
                        <rect
                            style="fill:#f98f00;fill-opacity:1;stroke-width:0;stroke-linecap:round"
                            id="rect7368"
                            width="50"
                            height="50"
                            x="-259.48453"
                            y="360.74911"
                            ry="25"/>
                        <path
                            id="path3518"
                            style="color:#000000;fill:#ffffff;fill-opacity:1;stroke-linecap:round;-inkscape-stroke:none"
                            d="m -234.23726,369.10957 c -9.16631,0 -16.64085,7.47192 -16.64085,16.63827 0,9.16632 7.47454,16.64084 16.64085,16.64084 5.51828,10e-6 10.42164,-2.70946 13.45085,-6.86573 l -3.24993,-2.29495 c -2.2952,3.13294 -6.00076,5.16041 -10.20092,5.16041 -7.00459,0 -12.64058,-5.63601 -12.64058,-12.64057 0,-7.00459 5.63599,-12.63851 12.64058,-12.63851 3.34541,-10e-6 6.37704,1.28656 8.63254,3.39256 l -3.99768,2.59054 10.25053,2.98586 1.26091,-10.44639 -4.10104,2.65772 c -3.03392,-3.18774 -7.31341,-5.18005 -12.04526,-5.18005 z"/>
                    </g>
                    <g
                        id="zoom-in"
                        (click)="zoomIn()"
                        transform="translate(-163.42205,-9.7011506)">
                        <path
                            id="rect3415"
                            style="fill:#f98f00;stroke-width:0;stroke-linecap:round"
                            transform="rotate(-90)"
                            d="m 29.281155,-128.35228 c 13.85,0 25,11.15 25,25 0,13.85 -11.15,25 -25,25 -13.85,0 -24.9999999,-11.15 -24.9999999,-25 0,-13.85 11.1499999,-25 24.9999999,-25 z"/>
                        <path
                            id="path3520"
                            style="color:#000000;fill:#ffffff;fill-opacity:1;-inkscape-stroke:none"
                            d="m -105.35526,-41.320214 v 10.037113 h -10.03504 v 4.00389 h 10.03504 v 10.037114 h 4.00389 v -10.037114 h 10.037121 v -4.00389 h -10.037121 v -10.037113 z"/>
                    </g>
                    <g
                        id="move-top"
                        (click)="moveTop()"
                        transform="translate(-151.66137,31.623385)">
                        <rect
                            style="fill:#f98f00;fill-opacity:1;stroke-width:0;stroke-linecap:round"
                            id="rect2377"
                            width="50"
                            height="50"
                            x="-97.657555"
                            y="-140.11296"
                            ry="25"
                            transform="rotate(-90)"/>
                        <path
                            id="path3522"
                            style="color:#000000;fill:#ffffff;fill-opacity:1;stroke-width:0.882106;-inkscape-stroke:none"
                            d="m -115.1127,65.790273 -15.58096,10.404533 2.22364,3.330029 13.35732,-8.919869 13.35732,8.919869 2.223118,-3.330029 z"/>
                    </g>
                    <g
                        id="zoom-out"
                        (click)="zoomOut()"
                        transform="translate(-161.59983,9.9917624)">
                        <rect
                            style="fill:#f98f00;fill-opacity:1;stroke-width:0;stroke-linecap:round"
                            id="rect3413"
                            width="50"
                            height="50"
                            x="-47.657555"
                            y="-130.1745"
                            ry="25"
                            transform="rotate(-90)"/>
                        <path
                            style="color:#000000;fill:#ffffff;fill-opacity:1;-inkscape-stroke:none"
                            d="m -117.21258,20.655602 v 4.003906 h 24.07617 v -4.003906 z"
                            id="path3524"/>
                    </g>
                    <g
                        id="move-bottom"
                        (click)="moveBottom()"
                        transform="translate(-151.66137,53.255001)">
                        <rect
                            style="fill:#f98f00;fill-opacity:1;stroke-width:0;stroke-linecap:round"
                            id="rect3417"
                            width="50"
                            height="50"
                            x="97.657562"
                            y="90.112961"
                            ry="25"
                            transform="rotate(90)"/>
                        <path
                            id="path3526"
                            style="color:#000000;fill:#ffffff;fill-opacity:1;stroke-width:0.882106;-inkscape-stroke:none"
                            d="m -115.11322,129.52483 15.58096,-10.40454 -2.22364,-3.33002 -13.35732,8.91986 -13.35732,-8.91986 -2.22312,3.33002 z"/>
                    </g>
                    <g
                        id="move-left"
                        (click)="moveLeft()"
                        transform="translate(-157.75883,10.961117)">
                        <rect
                            style="fill:#f98f00;fill-opacity:1;stroke-width:0;stroke-linecap:round"
                            id="rect3421"
                            width="50"
                            height="50"
                            x="84.015503"
                            y="-261.58307"
                            ry="25"
                            transform="scale(-1)"/>
                        <path
                            id="path3528"
                            style="color:#000000;fill:#ffffff;fill-opacity:1;stroke-width:0.882106;-inkscape-stroke:none"
                            d="m -115.88278,236.58281 10.40454,15.58096 3.33002,-2.22364 -8.91986,-13.35732 8.91986,-13.35732 -3.33002,-2.22312 z"/>
                    </g>
                    <g
                        id="move-right"
                        (click)="moveRight()"
                        transform="translate(-161.01777,-10.69327)">
                        <rect
                            style="fill:#f98f00;fill-opacity:1;stroke-width:0;stroke-linecap:round"
                            id="rect3425"
                            width="50"
                            height="50"
                            x="-130.75656"
                            y="304.86908"
                            ry="25"/>
                        <path
                            id="item"
                            style="color:#000000;fill:#ffffff;fill-opacity:1;stroke-width:0.882106;-inkscape-stroke:none"
                            d="m -98.88928,329.86935 -10.40454,-15.58096 -3.33002,2.22364 8.91986,13.35732 -8.91986,13.35732 3.33002,2.22312 z"/>
                    </g>
                </g>
            </g>
        </svg>
        <ng-content #diagram select="[svg]"></ng-content>
    </div>
</div>
