<div class="container">
    <h3 class="head">Antecedentes</h3>
    <hr>
    <p class="p">
        La industria del transporte ha experimentado una transformación significativa con la introducción de tecnologías
        móviles y plataformas digitales. Servicios como Uber, Lyft y Cabify han demostrado la viabilidad y el éxito de
        los
        sistemas de transporte bajo demanda, permitiendo a los usuarios solicitar un vehículo en cualquier momento y
        desde
        cualquier lugar mediante aplicaciones móviles.
    </p>
    <ol class="ol">
        <li class="li">
            <strong>Primera Generación de Servicios de Transporte</strong>: Los servicios de taxi tradicionales
            dependían de la
            disponibilidad física de los vehículos y la capacidad de los usuarios para localizarlos o solicitarlos
            telefónicamente. Este modelo presentaba limitaciones en términos de eficiencia y disponibilidad
        </li>
        <li class="li">
            <strong>Evolución con la Tecnología Móvil</strong>: Con la proliferación de los teléfonos inteligentes y
            la mejora de las
            tecnologías de geolocalización, surgieron aplicaciones móviles que permitían a los usuarios solicitar
            transporte de manera instantánea. Estas aplicaciones proporcionaban ventajas como la visibilidad en tiempo
            real de la ubicación del vehículo, tiempos de espera estimados y opciones de pago electrónico.
        </li>
        <li class="li">
            <strong>Desarrollo de Plataformas Integrales</strong>: Las plataformas modernas de transporte no solo
            facilitan la solicitud
            de viajes, sino que también integran diversas funcionalidades como la evaluación de conductores, rutas
            optimizadas, tarifas dinámicas y sistemas de gestión de flotas. Estas características mejoran la experiencia
            del usuario y la eficiencia operativa.
        </li>
        <li class="li">
            <strong>Impacto en la Movilidad Urbana</strong>: Los sistemas de reservación y contratación de transporte
            han contribuido a
            una movilidad urbana más flexible y personalizada. Han reducido la dependencia de los vehículos privados,
            disminuido el tráfico y las emisiones de carbono, y mejorado la accesibilidad al transporte en áreas urbanas
            y rurales.
        </li>
    </ol>
    <p class="p">
        Este proyecto se basa en estos antecedentes para diseñar un sistema de reservación y contratación de transporte
        que
        sea innovador y eficiente, abordando las necesidades actuales de movilidad. La página explicativa que se
        desarrollará proporcionará una guía paso a paso, acompañada de diagramas detallados, para facilitar la
        comprensión y
        la implementación del sistema.
    </p>
</div>
