.container {
    .paragraph {
        font-family: SanFrancisco, serif;
        color: var(--color-text);

        display: flex;
        flex-direction: row;

        span {
            color: #952F00;
            padding-right: 5px;
            font-family: RobotoRegular, sans-serif;
            user-select: none;
        }
    }
}
