.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    background-color: rgba(242, 208, 130, 0.19);
    padding: 10px;
    margin-bottom: 20px;
    border-top: 1px solid var(--background-color-ofooter);
    border-bottom: 1px solid var(--background-color-ofooter);


    .title {
        font-family: RobotoRegular, monospace;
        color: var(--background-color-footer);
        width: 150px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content {
        font-family: SanFrancisco, monospace;
        color: var(--color-text);
    }

    div {
        p {
            font-family: SanFrancisco, monospace;
            color: var(--color-text);
        }
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 5px;

        .title {
            justify-content: flex-start;
        }

        .content {
            padding-bottom: 20px;
        }
    }

}
