<div class="container">
    <app-title [margin]="{top:20, bottom:10}">
        <p value>Introducción</p>
    </app-title>
    <app-paragraph [margin]="{top:10, bottom:100}">
        <p value>
            En la actualidad, la tecnología ha revolucionado la forma en que las personas acceden a los servicios de
            transporte.
            La demanda de soluciones de movilidad eficientes y convenientes ha impulsado el desarrollo de sistemas de
            reservación y contratación de transporte, como los servicios de taxi. Este proyecto se enfoca en la creación
            de
            una
            página explicativa que detalla cómo desarrollar un sistema de reservación y contratación de transporte,
            desde la
            conceptualización hasta la implementación. Se proporcionarán diversos diagramas que ilustran el contexto,
            los
            niveles del sistema, el ambiente operativo y los casos de uso, facilitando una comprensión integral del
            proceso.
        </p>
    </app-paragraph>
</div>
