.ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 4.4rem;

    .li {
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;


        .a {
            text-decoration: none;
            color: var(--color-text);
            font-size: 1rem;
            font-family: RobotoRegular, serif;
            height: 4.4rem;

            display: flex;
            align-items: center;
            gap: 5px;
            overflow: auto;

            .p {
                overflow-y: auto;
            }

            .arrow {
                fill: var(--color-text);
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                transition: transform 0.5s ease;
            }

            &:hover {
                color: var(--background-color-ofooter);

                .p {
                }

                .arrow {
                    fill: var(--background-color-ofooter);
                    transform: rotate(180deg);
                }
            }

            &:active {
                color: var(--color-text);

                .arrow {
                    fill: var(--color-text);
                }
            }
        }
    }
}

.floating-box {
    cursor: auto;
    width: 500px;
    height: max-content;
    position: absolute;
    top: 4.4rem;
    right: 0;
    //border: 1px solid #ececec;
    //border-top: 0;
    //box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    //border-top: 1px solid #FEF8D6;
    border: 1px solid #FEF8D6;
    //border-top: 1px solid #FEF8D6;
    background: #FEF8D6;

    display: flex;
    flex-direction: row;
    gap: 10px;

    .item-left {
        width: 200px;
        padding: 10px;
        color: #952F00;
        font-family: RobotoBold, serif;
    }

    .item-right {
        background: white;
        width: 300px;
        padding: 0 10px;
        /*border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;*/

        ul {
            list-style: none;
            padding: 10px 0;
            margin: 0;

            display: flex;
            flex-direction: column;

            li {
                padding: 5px;
                font-family: RobotoRegular, serif;
                color: #952F00;

                &:hover {
                    background: #FEF8D6;
                    cursor: pointer;
                    //border-radius: 5px;

                    a {
                        color: var(--background-color-ofooter);
                    }
                }

                a {
                    font-family: RobotoLight, serif;
                    font-size: 0.9rem;
                    color: var(--color-text);
                    text-decoration: none;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
