<div class="container">
    <app-title [margin]="{top:20, bottom:10}">
        <p value>Planteamiento del problema</p>
    </app-title>
    <div>
        <app-paragraph [margin]="{top:10, bottom:10}">
            <p value>
                Las empresas de radio taxi enfrentan varios desafíos críticos en la gestión y operación de sus servicios
                de
                transporte urbano. El problema principal radica en la ineficiencia en la administración de pedidos y la
                falta de
                un sistema moderno y eficaz que permita a los conductores y a la administración gestionar sus recursos
                de
                manera
                óptima. A continuación, se detallan los aspectos críticos del problema.
            </p>
        </app-paragraph>
        <app-subtitle [margin]="{top:10,bottom:10}">
            <p value>
                Disponibilidad y Asignación de Taxis
            </p>
        </app-subtitle>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Disponibilidad en momentos y lugares necesarios:</span> Muchas veces, los taxis no están
                disponibles en los
                momentos y lugares donde más se necesitan, causando inconvenientes a los usuarios.
            </p>
        </app-ul>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Optimización de la asignación:</span> La falta de un sistema automatizado que optimice la
                asignación de taxis
                resulta en tiempos de espera prolongados para los usuarios y trayectos ineficientes para los
                conductores.
            </p>
        </app-ul>

        <app-subtitle [margin]="{top:10,bottom:10}">
            <p value>
                Gestión de Reservas
            </p>
        </app-subtitle>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Manejo de reservas en tiempo real y programadas:</span> La gestión de reservas en tiempo real y
                las reservas
                programadas puede ser problemática, con riesgos de duplicaciones y conflictos.
            </p>
        </app-ul>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Eficiencia en la administración de reservas:</span> Sin un sistema eficiente, la administración de
                las reservas
                se
                vuelve compleja y propensa a errores.
            </p>
        </app-ul>

        <app-subtitle [margin]="{top:10,bottom:10}">
            <p value>
                Transparencia y Comunicación
            </p>
        </app-subtitle>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Información clara y en tiempo real:</span> Los usuarios a menudo carecen de información clara
                sobre la
                ubicación
                del taxi, el tiempo estimado de llegada y las tarifas.
            </p>
        </app-ul>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Comunicación efectiva entre usuarios y conductores:</span> La falta de una plataforma que
                facilite la comunicación
                directa y eficiente entre usuarios y conductores puede generar malentendidos y problemas de servicio.
            </p>
        </app-ul>

        <app-subtitle [margin]="{top:10,bottom:10}">
            <p value>
                Seguridad y Confianza
            </p>
        </app-subtitle>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Seguridad durante el viaje:</span> Es crucial garantizar que tanto los conductores como los
                pasajeros se sientan
                seguros durante el viaje.
            </p>
        </app-ul>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Verificación de identidad y reputación:</span> La ausencia de un sistema robusto de
                verificación y evaluación de
                conductores y usuarios puede afectar la confianza en el servicio.
            </p>
        </app-ul>

        <app-subtitle [margin]="{top:10,bottom:10}">
            <p value>
                Integración y Escalabilidad
            </p>
        </app-subtitle>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Integración con otras plataformas y sistemas de pago:</span> La integración con métodos de
                pago
                electrónico y otras
                plataformas de transporte es esencial para una experiencia de usuario fluida.
            </p>
        </app-ul>
        <app-ul [margin]="{top:10,bottom:10}">
            <p value>
                <span>Escalabilidad del sistema:</span> El sistema debe ser capaz de manejar un alto volumen de
                usuarios y transacciones
                simultáneamente sin degradación del servicio.
            </p>
        </app-ul>
    </div>
</div>
