<div class="container">
    <h3>Planteamiento del problema</h3>
    <hr>
    <p class="p">
        Las empresas de radio taxi enfrentan varios desafíos críticos en la gestión y operación de sus servicios de
        transporte urbano. El problema principal radica en la ineficiencia en la administración de pedidos y la falta de
        un sistema moderno y eficaz que permita a los conductores y a la administración gestionar sus recursos de manera
        óptima. A continuación, se detallan los aspectos críticos del problema.
    </p>
    <p class="sub"><strong>Disponibilidad y Asignación de Taxis:</strong></p>
    <ul>
        <li>
            <strong>Disponibilidad en momentos y lugares necesarios</strong>: Muchas veces, los taxis no están
            disponibles en los
            momentos y lugares donde más se necesitan, causando inconvenientes a los usuarios.
        </li>
        <li>
            <strong>Optimización de la asignación</strong>: La falta de un sistema automatizado que optimice la
            asignación de taxis
            resulta en tiempos de espera prolongados para los usuarios y trayectos ineficientes para los conductores.
        </li>
    </ul>
    <p class="sub"><strong>Gestión de Reservas:</strong></p>
    <ul>
        <li>
            Manejo de reservas en tiempo real y programadas: La gestión de reservas en tiempo real y las reservas
            programadas puede ser problemática, con riesgos de duplicaciones y conflictos.
        </li>
        <li>
            Eficiencia en la administración de reservas: Sin un sistema eficiente, la administración de las reservas se
            vuelve compleja y propensa a errores.
        </li>
    </ul>
    <p class="sub"><strong>Transparencia y Comunicación:</strong></p>
    <ul>
        <li>
            <strong>Información clara y en tiempo real</strong>: Los usuarios a menudo carecen de información clara
            sobre la
            ubicación
            del taxi, el tiempo estimado de llegada y las tarifas.
        </li>
        <li>
            <strong>Comunicación efectiva entre usuarios y conductores</strong>: La falta de una plataforma que
            facilite la comunicación
            directa y eficiente entre usuarios y conductores puede generar malentendidos y problemas de servicio.
        </li>
    </ul>
    <p class="sub"><strong>Seguridad y Confianza:</strong></p>
    <ul>
        <li>
            <strong>Seguridad durante el viaje</strong>: Es crucial garantizar que tanto los conductores como los
            pasajeros se sientan
            seguros durante el viaje.
        </li>
        <li>
            <strong>Verificación de identidad y reputación</strong>: La ausencia de un sistema robusto de
            verificación y evaluación de
            conductores y usuarios puede afectar la confianza en el servicio.
        </li>
    </ul>
    <p class="sub"><strong>Integración y Escalabilidad:</strong></p>
    <ul>
        <li>
            <strong>Integración con otras plataformas y sistemas de pago</strong>: La integración con métodos de pago
            electrónico y otras
            plataformas de transporte es esencial para una experiencia de usuario fluida.
        </li>
        <li>
            <strong>Escalabilidad del sistema</strong>: El sistema debe ser capaz de manejar un alto volumen de
            usuarios y transacciones
            simultáneamente sin degradación del servicio.
        </li>
    </ul>
</div>
