@font-face {
    font-family: 'ElegantFont';
    src: url('../fonts/elegant/elegant.woff2');
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('../fonts/other/SanFranciscoDisplay-Regular.otf');
}
