<div class="container">
    @if (!isNotFound) {
        <!--cabecera de la aplicación-->
        <header class="header">
            <div class="padding">
                <app-header class="int"/>
            </div>
        </header>
    }

    <!--contenido principal de la aplicación-->
    <main class="main">
        <div class="padding">
            <app-main/>
        </div>
    </main>

    @if (!isNotFound) {
        <!--primera pie de página-->
        @if (showFirstFooter) {
            <footer class="ofooter">
                <div class="padding">
                    <app-first-footer/>
                </div>
            </footer>
        }

        <!--segunda pie de página-->
        <footer class="footer">
            <div class="padding">
                <app-last-footer/>
            </div>
        </footer>
    }
</div>

