<div class="container">
    <h3>Formulación del problema</h3>
    <hr>
    <div>
        <p class="sub-title">Problema principal</p>
        <p>
            ¿Cómo desarrollar un sistema de reservas de taxis que sea eficiente, confiable y fácil de usar, asegurando
            una
            asignación óptima de recursos y una experiencia positiva para los usuarios?
        </p>
        <p class="sub-title">Subproblemas</p>
        <ol class="ol">
            <li class="li">Disponibilidad y asignación de taxis:</li>
            <ul class="ul">
                <li class="list">¿Cómo asegurar que los taxis están disponibles en los momentos y lugares donde más se
                    necesitan?
                </li>
                <li class="list">
                    ¿Cómo optimizar la asignación de taxis para minimizar el tiempo de espera del usuario y el tiempo de
                    viaje del taxi?
                </li>
            </ul>
            <li class="li">Gestión de reservas:</li>
            <ul class="ul">
                <li class="list">¿Cómo manejar las reservas en tiempo real y las reservas programadas de manera
                    eficiente?
                </li>
                <li class="list">¿Cómo evitar duplicaciones o conflictos en las reservas?</li>
            </ul>
            <li class="li">Transparencia y comunicación:</li>
            <ul class="ul">
                <li class="list">
                    ¿Cómo proporcionar información clara y en tiempo real sobre la ubicación del taxi, el tiempo
                    estimado de
                    llegada y las tarifas?
                </li>
                <li class="list">
                    ¿Cómo garantizar una comunicación efectiva entre los usuarios y los conductores?
                </li>
            </ul>
            <li class="li">Seguridad y confianza:</li>
            <ul class="ul">
                <li class="list">
                    ¿Cómo asegurar que tanto los conductores como los pasajeros se sientan seguros durante el viaje?
                </li>
                <li class="list">
                    ¿Qué medidas se pueden implementar para verificar la identidad y la reputación de los conductores y
                    los
                    usuarios?
                </li>
            </ul>
            <li class="li">Interfaz de usuario:</li>
            <ul class="ul">
                <li class="list">
                    ¿Cómo diseñar una aplicación móvil y una interfaz web intuitiva y fácil de usar para usuarios de
                    todas
                    las edades?
                </li>
                <li class="list">
                    ¿Qué características deben incluirse para mejorar la usabilidad y la satisfacción del usuario?
                </li>
            </ul>
            <li class="li">Integración y escalabilidad:</li>
            <ul class="ul">
                <li class="list">
                    ¿Cómo integrar el sistema con otras plataformas de transporte y sistemas de pago?
                </li>
                <li class="list">
                    ¿Cómo asegurar que el sistema pueda escalar para manejar un gran número de usuarios y transacciones
                    simultáneamente?
                </li>
            </ul>
        </ol>
        <p class="sub-title">Objetivos</p>
        <ol class="ol">
            <li class="li">
                Desarrollar un sistema de reservas de taxis automatizado que permita a los usuarios reservar taxis de
                manera
                rápida y sencilla, utilizando una aplicación móvil y/o una plataforma web.
            </li>
            <li class="li">
                Optimizar la asignación de taxis utilizando algoritmos de asignación basados en la ubicación en tiempo
                real
                de los taxis y los usuarios.
            </li>
            <li class="li">
                Proporcionar transparencia y comunicación en tiempo real, incluyendo seguimiento del taxi, estimaciones
                de
                tiempo de llegada y tarifas estimadas.
            </li>
            <li class="li">
                Implementar medidas de seguridad y verificación para conductores y pasajeros, aumentando la confianza en
                el
                sistema.
            </li>
            <li class="li">
                Diseñar una interfaz de usuario intuitiva y accesible, asegurando una experiencia de usuario positiva y
                eficiente.
            </li>
            <li class="li">
                Garantizar la integración con sistemas de pago y otras plataformas de transporte, facilitando una
                experiencia de usuario fluida y sin interrupciones.
            </li>
            <li class="li">
                Asegurar la escalabilidad del sistema, permitiendo manejar un alto volumen de reservas y usuarios sin
                degradación del servicio.
            </li>
        </ol>
    </div>
</div>
