<div class="container">
    <app-title [margin]="{top:20, bottom:10}">
        <p value>Formulación del problema</p>
    </app-title>
    <div>
        <app-subtitle [margin]="{top:10, bottom:10}">
            <p value>Problema principal</p>
        </app-subtitle>
        <app-paragraph [margin]="{top:10, bottom:10}">
            <p value>
                ¿Cómo desarrollar un sistema de reservas de taxis que sea eficiente, confiable y fácil de usar,
                asegurando
                una
                asignación óptima de recursos y una experiencia positiva para los usuarios?
            </p>
        </app-paragraph>
        <app-subtitle [margin]="{top:10, bottom:10}">
            <p value>Subproblemas</p>
        </app-subtitle>
        <app-ol [margin]="{top:10, bottom:10}" [num]="1">
            <p value>
                <span>Disponibilidad y asignación de taxis:</span>
            </p>
        </app-ol>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo asegurar que los taxis están disponibles en los momentos y lugares donde más se
                necesitan?
            </p>
        </app-ul>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo optimizar la asignación de taxis para minimizar el tiempo de espera del usuario y el tiempo de
                viaje del taxi?
            </p>
        </app-ul>
        <app-ol [margin]="{top:10, bottom:10}" [num]="2">
            <p value>
                <span>Gestión de reservas:</span>
            </p>
        </app-ol>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo manejar las reservas en tiempo real y las reservas programadas de manera
                eficiente?
            </p>
        </app-ul>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo evitar duplicaciones o conflictos en las reservas?
            </p>
        </app-ul>
        <app-ol [margin]="{top:10, bottom:10}" [num]="3">
            <p value>
                <span>Transparencia y comunicación:</span>
            </p>
        </app-ol>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo proporcionar información clara y en tiempo real sobre la ubicación del taxi, el tiempo
                estimado de
                llegada y las tarifas?
            </p>
        </app-ul>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo garantizar una comunicación efectiva entre los usuarios y los conductores?
            </p>
        </app-ul>
        <app-ol [margin]="{top:10, bottom:10}" [num]="4">
            <p value>
                <span>Seguridad y confianza:</span>
            </p>
        </app-ol>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo asegurar que tanto los conductores como los pasajeros se sientan seguros durante el viaje?
            </p>
        </app-ul>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Qué medidas se pueden implementar para verificar la identidad y la reputación de los conductores y
                los
                usuarios?
            </p>
        </app-ul>
        <app-ol [margin]="{top:10, bottom:10}" [num]="5">
            <p value>
                <span>Interfaz de usuario:</span>
            </p>
        </app-ol>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo diseñar una aplicación móvil y una interfaz web intuitiva y fácil de usar para usuarios de
                todas
                las edades?
            </p>
        </app-ul>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Qué características deben incluirse para mejorar la usabilidad y la satisfacción del usuario?
            </p>
        </app-ul>
        <app-ol [margin]="{top:10, bottom:10}" [num]="6">
            <p value>
                <span>Integración y escalabilidad:</span>
            </p>
        </app-ol>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo integrar el sistema con otras plataformas de transporte y sistemas de pago? </p>
        </app-ul>
        <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
            <p value>
                ¿Cómo asegurar que el sistema pueda escalar para manejar un gran número de usuarios y transacciones
                simultáneamente?
            </p>
        </app-ul>

        <app-subtitle [margin]="{top:10, bottom:10}">
            <p value>Objetivos</p>
        </app-subtitle>

        @for (d of data; track d) {
            <app-ol [margin]="{top:10, bottom:10}" [num]="$index + 1">
                <p value>{{ d }}</p>
            </app-ol>
        }
        <br>
    </div>
</div>
