<div>
    <app-title [margin]="{top:20, bottom:10}">
        <p value>Diagrama de casos de uso de negocio</p>
    </app-title>
    <app-subtitle [margin]="{top:10, bottom:10}">
        <p value>Adios</p>
    </app-subtitle>
    <app-paragraph [margin]="{top:10, bottom:10}" [tab]="0" type="vignette">
        <p value>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
        </p>
    </app-paragraph>
    <app-ol [num]="5">
        <p value>Lorem ipsum</p>
    </app-ol>
    <app-ul [tab]="4">
        <p value>Lorem ipsum</p>
    </app-ul>
</div>
