/* You can add global styles to this file, and also import other style files */
@import "../public/scss/colors";
@import "../public/scss/comfortaa";
@import "../public/scss/roboto";
@import "../public/scss/elegant";
@import "../public/scss/sizes";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ElegantFont, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow: var(--body-oveer-flow);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
