<div class="container">
    <h3>Propósito de estudio</h3>
    <hr>
    <div>
        <p class="paragraph">
            El propósito del estudio es diseñar, desarrollar e implementar un sistema de reservas de taxis automatizado
            que optimice la asignación de recursos, mejore la experiencia del usuario y contribuya a una movilidad
            urbana más eficiente y sostenible. El sistema debe ser capaz de gestionar reservas en tiempo real,
            proporcionar información transparente y segura a los usuarios, y escalar para atender la creciente demanda
            de servicios de transporte en las ciudades modernas.
        </p>
        <p class="sub-title"> Objetivo General </p>
        <p class="paragraph">
            Desarrollar un sistema de reservas de taxis automatizado, eficiente y seguro que optimice la asignación de
            recursos, mejore la experiencia del usuario y contribuya a la movilidad urbana sostenible.
        </p>
        <p class="sub-title">Objetivos específicos</p>
        <ol class="ol">
            <li class="li">
                Optimización de Asignación de Taxis:
                <ul class="ul">
                    <li class="li">
                        Diseñar e implementar algoritmos de asignación que minimicen el tiempo de espera del usuario y
                        el tiempo de viaje de los taxis.
                    </li>
                    <li class="li">
                        Integrar un sistema de geolocalización en tiempo real para la asignación precisa de taxis.
                    </li>
                </ul>
            </li>
            <li class="li">
                Gestión Eficiente de Reservas:
                <ul class="ul">
                    <li class="li">
                        Desarrollar funcionalidades para manejar reservas en tiempo real y reservas programadas,
                        evitando conflictos y duplicaciones.
                    </li>
                    <li class="li">
                        Implementar un sistema de notificaciones para informar a los usuarios sobre el estado de sus
                        reservas.
                    </li>
                </ul>
            </li>
            <li class="li">
                Transparencia y Comunicación en Tiempo Real:
                <ul class="ul">
                    <li class="li">
                        Proveer información en tiempo real sobre la ubicación del taxi, el tiempo estimado de llegada y
                        las tarifas.
                    </li>
                    <li class="li">
                        Facilitar una comunicación efectiva entre usuarios y conductores mediante la implementación de
                        un sistema de mensajería instantánea dentro de la aplicación.
                    </li>
                </ul>
            </li>
            <li class="li">
                Mejoras en Seguridad y Confianza:
                <ul class="ul">
                    <li class="li">
                        Implementar un sistema de verificación y evaluación para conductores y usuarios, mejorando la
                        seguridad y la confianza en el servicio.
                    </li>
                    <li class="li">
                        Desarrollar funcionalidades de emergencia y soporte en tiempo real para casos de incidentes
                        durante el viaje.
                    </li>
                </ul>
            </li>
            <li class="li">
                Diseño de Interfaz de Usuario Intuitiva:
                <ul class="ul">
                    <li class="li">
                        Diseñar una aplicación móvil y una plataforma web con una interfaz amigable y fácil de usar,
                        accesible para usuarios de todas las edades.
                    </li>
                    <li class="li">
                        Realizar pruebas de usabilidad para asegurar que la interfaz sea intuitiva y satisfactoria para
                        los usuarios.
                    </li>
                </ul>
            </li>
            <li class="li">
                Integración y Escalabilidad:
                <ul class="ul">
                    <li class="li">
                        Asegurar la integración del sistema con métodos de pago electrónico y otras plataformas de
                        transporte urbano.
                    </li>
                    <li class="li">
                        Diseñar el sistema para ser escalable, capaz de manejar un gran volumen de usuarios y
                        transacciones sin pérdida de rendimiento.
                    </li>
                </ul>
            </li>
            <li class="li">
                Monitoreo y Mantenimiento Continuo:
                <ul class="ul">
                    <li class="li">
                        Implementar herramientas de monitoreo para evaluar el rendimiento del sistema y la satisfacción
                        del usuario.
                    </li>
                    <li class="li">
                        Establecer un plan de mantenimiento y actualización continua para incorporar mejoras y resolver
                        problemas rápidamente.
                    </li>
                </ul>
            </li>
        </ol>
        <p class="sub-title">Resultados esperados</p>
        <ul class="ulist">
            <li class="list">
                Un sistema de reservas de taxis que mejore significativamente la eficiencia operativa y la experiencia
                del usuario.
            </li>
            <li class="list">
                Reducción de los tiempos de espera y de viaje mediante una mejor asignación de taxis.
            </li>
            <li class="list">
                Aumento de la transparencia y la confianza de los usuarios gracias a la información en tiempo real y las
                medidas de seguridad implementadas.
            </li>
            <li class="list">
                Una interfaz de usuario que sea accesible y fácil de usar, promoviendo una mayor adopción del sistema.
            </li>
            <li class="list">
                Un sistema integrado y escalable que pueda adaptarse a futuras necesidades y demandas de los usuarios y
                del mercado.
            </li>
        </ul>
    </div>
</div>
