.container {
    margin: 20px 0;

    h3 {
        font-family: RobotoBold, serif;
        font-size: 24px;
        color: #952F00;
        margin-bottom: 20px;
    }

    hr {
        border: 0;
        border-top: 1px solid var(--background-color-ofooter);
        margin-bottom: 20px;
    }

    div {
        background-color: var(--color-bg-text);
        padding: 15px;
        border-radius: 10px;

        .sub-title {
            font-family: RobotoBold, serif;
            font-size: 16px;
            color: #952F00;
            margin-bottom: 20px;
        }

        .paragraph {
            margin-bottom: 20px;
        }
    }
}

.ulist {
    list-style: none;

    .list {
        margin-bottom: 10px;

        &::before {
            content: "• ";
            color: #952F00;
        }
    }
}

.ol {
    margin-bottom: 20px;
    list-style: none;
    counter-reset: item;

    .li {
        margin-bottom: 10px;
        counter-increment: item;

        .ul {
            list-style: none;
            margin-left: 20px;
            margin-top: 10px;

            .li {
                margin-bottom: 10px;

                &::before {
                    content: "• ";
                    color: #952F00;
                }
            }
        }

        &:before {
            content: counter(item) ". ";
            color: #952F00;
        }
    }
}
