<div class="container">
    <!--título-->
    <app-title [margin]="{top:20, bottom:10}">
        <p value>Propósito de estudio</p>
    </app-title>

    <!--descripción-->
    <app-paragraph [margin]="{top:10, bottom:10}">
        <p value>{{ par1 }}</p>
    </app-paragraph>

    <!--objetivo general-->
    <app-subtitle [margin]="{top:10, bottom:10}">
        <p value>Objetivo General</p>
    </app-subtitle>
    <app-paragraph [margin]="{top:10, bottom:10}">
        <p value>{{ par2 }}</p>
    </app-paragraph>

    <!--objetivos específicos-->
    <app-subtitle [margin]="{top:10, bottom:10}">
        <p value>Objetivos específicos</p>
    </app-subtitle>
    @for (x of obj; track x) {
        <app-ol [margin]="{top:10, bottom:10}" [num]="$index +1">
            <p value><span>{{ x.ol }}</span></p>
        </app-ol>
        @for (y of x.ul; track y) {
            <app-ul [margin]="{top:10, bottom:10}" [tab]="3">
                <p value>{{ y }}</p>
            </app-ul>
        }
    }

    <!--resultados esperados-->
    <app-subtitle [margin]="{top:10, bottom:10}">
        <p value>Resultados esperados</p>
    </app-subtitle>

    @for (x of result; track x) {
        <app-ul [margin]="{top:10, bottom:10}">
            <p value>{{ x }}</p>
        </app-ul>
    }
    <br>
</div>
