<div class="container">
    <app-title [margin]="{top:20, bottom:10}">
        <p value>Diseño de los diagramas de clase</p>
    </app-title>
    <app-paragraph [margin]="{top:10, bottom:10}">
        <p value>
            En este video se muestra un tutorial de cómo se puede realizar el diseño de los diagramas de clase con la
            herramienta <a href="https://www.drawio.com/" target="_blank">drawio</a>.
        </p>
    </app-paragraph>
    <app-paragraph [margin]="{top:10, bottom:20}">
        <p value>
            Para ver los diagramas de clase del sistema radio taxi, haga click
            <a routerLink="/orientado-a-objetos/diagrama-de-clases">aquí</a>.
        </p>
    </app-paragraph>
    <div class="video-container">
        <iframe
            width="100%" src="https://www.youtube.com/embed/6o1f99-AKwk" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <app-paragraph [margin]="{top:20, bottom:20}">
        <p value>
            Si tiene algún problema con el video, puede acceder al mismo a través de este <a
            href="https://www.youtube.com/watch?v=6o1f99-AKwk" target="_blank">enlace</a>.
        </p>
    </app-paragraph>
</div>
