<div class="container">
    <div class="item">
        <img ngSrc="assets/gif/ups.gif" alt="" height="428" width="313">
    </div>
    <div class="item">
        <h1 class="header">OOPS!</h1>
        <br>
        <p>Parece que estas perdido en el espacio.</p>
        <p class="code"><strong>Código de error: 404</strong></p>
        <p class="description">Es posible que la página que estás buscando haya sido <strong>eliminada</strong> o no esté disponible
            temporalmente</p>
        <br>
        <a routerLink="/" (click)="clickInStart()">¿regresar al inicio?</a>
    </div>
</div>

